=begin
#Cyber Trackr API

#Complete OpenAPI 3.1.1 specification for cyber.trackr.live API. This API provides access to DISA STIGs, SRGs, RMF controls, CCIs, and SCAP data.  ## DISA Cybersecurity Ecosystem Hierarchy  ``` NIST RMF Controls (high-level policy framework)     ↓ (decomposed into atomic, testable statements) CCIs (Control Correlation Identifiers - bridge policy to implementation)     ↓ (grouped by technology class into generic requirements)   SRGs (Security Requirements Guides - technology class \"what\" to do)     ↓ (implemented as vendor-specific \"how\" to do it) STIGs (Security Technical Implementation Guides - vendor/product specific)     ↓ (automated versions for scanning tools) SCAP (Security Content Automation Protocol documents) ```  ## Critical Relationships  - **RMF Controls** contain assessment procedures that reference **CCIs** - **CCIs** map back to **RMF Controls** and forward to **STIG/SRG requirements** - **SRGs** define generic technology requirements that **STIGs** implement specifically - **V-IDs** can appear in both SRG and corresponding STIG (same requirement, different specificity) - **SV-IDs** are XCCDF rule identifiers with revision tracking across document releases 

The version of the OpenAPI document: 1.0.3

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module CyberTrackrClient
  class DocumentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get STIG or SRG document details
    # Returns complete document with all requirements
    # @param title [String] Document title exactly as it appears in the list endpoint
    # @param version [String] Major version number of the document
    # @param release [String] Release number within the version
    # @param [Hash] opts the optional parameters
    # @return [DocumentDetail]
    def get_document(title, version, release, opts = {})
      data, _status_code, _headers = get_document_with_http_info(title, version, release, opts)
      data
    end

    # Get STIG or SRG document details
    # Returns complete document with all requirements
    # @param title [String] Document title exactly as it appears in the list endpoint
    # @param version [String] Major version number of the document
    # @param release [String] Release number within the version
    # @param [Hash] opts the optional parameters
    # @return [Array<(DocumentDetail, Integer, Hash)>] DocumentDetail data, response status code and response headers
    def get_document_with_http_info(title, version, release, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.get_document ...'
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling DocumentsApi.get_document"
      end
      if @api_client.config.client_side_validation && title.to_s.length > 200
        fail ArgumentError, 'invalid value for "title" when calling DocumentsApi.get_document, the character length must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && title.to_s.length < 1
        fail ArgumentError, 'invalid value for "title" when calling DocumentsApi.get_document, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DocumentsApi.get_document"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && version !~ pattern
        fail ArgumentError, "invalid value for 'version' when calling DocumentsApi.get_document, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'release' is set
      if @api_client.config.client_side_validation && release.nil?
        fail ArgumentError, "Missing the required parameter 'release' when calling DocumentsApi.get_document"
      end
      pattern = Regexp.new(/^\d+(\.\d+)?$/)
      if @api_client.config.client_side_validation && release !~ pattern
        fail ArgumentError, "invalid value for 'release' when calling DocumentsApi.get_document, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/stig/{title}/{version}/{release}'.sub('{' + 'title' + '}', CGI.escape(title.to_s)).sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'release' + '}', CGI.escape(release.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DocumentDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DocumentsApi.get_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#get_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get individual STIG/SRG requirement details
    # Returns complete details for a specific requirement
    # @param title [String] Document title exactly as it appears in the list endpoint
    # @param version [String] Major version number of the document
    # @param release [String] Release number within the version
    # @param vuln [String] Vulnerability/Requirement ID (V-XXXXXX format)
    # @param [Hash] opts the optional parameters
    # @return [RequirementDetail]
    def get_requirement(title, version, release, vuln, opts = {})
      data, _status_code, _headers = get_requirement_with_http_info(title, version, release, vuln, opts)
      data
    end

    # Get individual STIG/SRG requirement details
    # Returns complete details for a specific requirement
    # @param title [String] Document title exactly as it appears in the list endpoint
    # @param version [String] Major version number of the document
    # @param release [String] Release number within the version
    # @param vuln [String] Vulnerability/Requirement ID (V-XXXXXX format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequirementDetail, Integer, Hash)>] RequirementDetail data, response status code and response headers
    def get_requirement_with_http_info(title, version, release, vuln, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.get_requirement ...'
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling DocumentsApi.get_requirement"
      end
      if @api_client.config.client_side_validation && title.to_s.length > 200
        fail ArgumentError, 'invalid value for "title" when calling DocumentsApi.get_requirement, the character length must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && title.to_s.length < 1
        fail ArgumentError, 'invalid value for "title" when calling DocumentsApi.get_requirement, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling DocumentsApi.get_requirement"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && version !~ pattern
        fail ArgumentError, "invalid value for 'version' when calling DocumentsApi.get_requirement, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'release' is set
      if @api_client.config.client_side_validation && release.nil?
        fail ArgumentError, "Missing the required parameter 'release' when calling DocumentsApi.get_requirement"
      end
      pattern = Regexp.new(/^\d+(\.\d+)?$/)
      if @api_client.config.client_side_validation && release !~ pattern
        fail ArgumentError, "invalid value for 'release' when calling DocumentsApi.get_requirement, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'vuln' is set
      if @api_client.config.client_side_validation && vuln.nil?
        fail ArgumentError, "Missing the required parameter 'vuln' when calling DocumentsApi.get_requirement"
      end
      pattern = Regexp.new(/^V-\d{6}$/)
      if @api_client.config.client_side_validation && vuln !~ pattern
        fail ArgumentError, "invalid value for 'vuln' when calling DocumentsApi.get_requirement, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/stig/{title}/{version}/{release}/{vuln}'.sub('{' + 'title' + '}', CGI.escape(title.to_s)).sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'release' + '}', CGI.escape(release.to_s)).sub('{' + 'vuln' + '}', CGI.escape(vuln.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RequirementDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DocumentsApi.get_requirement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#get_requirement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all STIGs and SRGs
    # Returns complete list of Security Technical Implementation Guides (STIGs) and  Security Requirements Guides (SRGs). **Note**: These are mixed in one endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, Array<DocumentVersion>>]
    def list_all_documents(opts = {})
      data, _status_code, _headers = list_all_documents_with_http_info(opts)
      data
    end

    # List all STIGs and SRGs
    # Returns complete list of Security Technical Implementation Guides (STIGs) and  Security Requirements Guides (SRGs). **Note**: These are mixed in one endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, Array<DocumentVersion>>, Integer, Hash)>] Hash<String, Array<DocumentVersion>> data, response status code and response headers
    def list_all_documents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DocumentsApi.list_all_documents ...'
      end
      # resource path
      local_var_path = '/stig'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Array<DocumentVersion>>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DocumentsApi.list_all_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DocumentsApi#list_all_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
