=begin
#Cyber Trackr API

#Complete OpenAPI 3.1.1 specification for cyber.trackr.live API. This API provides access to DISA STIGs, SRGs, RMF controls, CCIs, and SCAP data.  ## DISA Cybersecurity Ecosystem Hierarchy  ``` NIST RMF Controls (high-level policy framework)     ↓ (decomposed into atomic, testable statements) CCIs (Control Correlation Identifiers - bridge policy to implementation)     ↓ (grouped by technology class into generic requirements)   SRGs (Security Requirements Guides - technology class \"what\" to do)     ↓ (implemented as vendor-specific \"how\" to do it) STIGs (Security Technical Implementation Guides - vendor/product specific)     ↓ (automated versions for scanning tools) SCAP (Security Content Automation Protocol documents) ```  ## Critical Relationships  - **RMF Controls** contain assessment procedures that reference **CCIs** - **CCIs** map back to **RMF Controls** and forward to **STIG/SRG requirements** - **SRGs** define generic technology requirements that **STIGs** implement specifically - **V-IDs** can appear in both SRG and corresponding STIG (same requirement, different specificity) - **SV-IDs** are XCCDF rule identifiers with revision tracking across document releases 

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module CyberTrackrClient
  class RMFControlsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get RMF revision 4 control details
    # Returns complete RMF control details including CCI mappings
    # @param control [String] RMF control identifier (family-number format)
    # @param [Hash] opts the optional parameters
    # @return [RmfControlDetail]
    def get_rmf_control_v4(control, opts = {})
      data, _status_code, _headers = get_rmf_control_v4_with_http_info(control, opts)
      data
    end

    # Get RMF revision 4 control details
    # Returns complete RMF control details including CCI mappings
    # @param control [String] RMF control identifier (family-number format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(RmfControlDetail, Integer, Hash)>] RmfControlDetail data, response status code and response headers
    def get_rmf_control_v4_with_http_info(control, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMFControlsApi.get_rmf_control_v4 ...'
      end
      # verify the required parameter 'control' is set
      if @api_client.config.client_side_validation && control.nil?
        fail ArgumentError, "Missing the required parameter 'control' when calling RMFControlsApi.get_rmf_control_v4"
      end
      pattern = Regexp.new(/^[A-Z]+-\d+$/)
      if @api_client.config.client_side_validation && control !~ pattern
        fail ArgumentError, "invalid value for 'control' when calling RMFControlsApi.get_rmf_control_v4, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/rmf/4/{control}'.sub('{' + 'control' + '}', CGI.escape(control.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RmfControlDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RMFControlsApi.get_rmf_control_v4",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMFControlsApi#get_rmf_control_v4\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get RMF revision 5 control details
    # Returns complete RMF control details including CCI mappings
    # @param control [String] RMF control identifier (family-number format)
    # @param [Hash] opts the optional parameters
    # @return [RmfControlDetail]
    def get_rmf_control_v5(control, opts = {})
      data, _status_code, _headers = get_rmf_control_v5_with_http_info(control, opts)
      data
    end

    # Get RMF revision 5 control details
    # Returns complete RMF control details including CCI mappings
    # @param control [String] RMF control identifier (family-number format)
    # @param [Hash] opts the optional parameters
    # @return [Array<(RmfControlDetail, Integer, Hash)>] RmfControlDetail data, response status code and response headers
    def get_rmf_control_v5_with_http_info(control, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMFControlsApi.get_rmf_control_v5 ...'
      end
      # verify the required parameter 'control' is set
      if @api_client.config.client_side_validation && control.nil?
        fail ArgumentError, "Missing the required parameter 'control' when calling RMFControlsApi.get_rmf_control_v5"
      end
      pattern = Regexp.new(/^[A-Z]+-\d+$/)
      if @api_client.config.client_side_validation && control !~ pattern
        fail ArgumentError, "invalid value for 'control' when calling RMFControlsApi.get_rmf_control_v5, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/rmf/5/{control}'.sub('{' + 'control' + '}', CGI.escape(control.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RmfControlDetail'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RMFControlsApi.get_rmf_control_v5",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMFControlsApi#get_rmf_control_v5\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List RMF revision 4 controls
    # Returns all Risk Management Framework revision 4 controls with titles
    # @param [Hash] opts the optional parameters
    # @return [RmfControlList]
    def list_rmf_controls_v4(opts = {})
      data, _status_code, _headers = list_rmf_controls_v4_with_http_info(opts)
      data
    end

    # List RMF revision 4 controls
    # Returns all Risk Management Framework revision 4 controls with titles
    # @param [Hash] opts the optional parameters
    # @return [Array<(RmfControlList, Integer, Hash)>] RmfControlList data, response status code and response headers
    def list_rmf_controls_v4_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMFControlsApi.list_rmf_controls_v4 ...'
      end
      # resource path
      local_var_path = '/rmf/4'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RmfControlList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RMFControlsApi.list_rmf_controls_v4",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMFControlsApi#list_rmf_controls_v4\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List RMF revision 5 controls
    # Returns all Risk Management Framework revision 5 controls with titles
    # @param [Hash] opts the optional parameters
    # @return [RmfControlList]
    def list_rmf_controls_v5(opts = {})
      data, _status_code, _headers = list_rmf_controls_v5_with_http_info(opts)
      data
    end

    # List RMF revision 5 controls
    # Returns all Risk Management Framework revision 5 controls with titles
    # @param [Hash] opts the optional parameters
    # @return [Array<(RmfControlList, Integer, Hash)>] RmfControlList data, response status code and response headers
    def list_rmf_controls_v5_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMFControlsApi.list_rmf_controls_v5 ...'
      end
      # resource path
      local_var_path = '/rmf/5'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RmfControlList'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RMFControlsApi.list_rmf_controls_v5",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMFControlsApi#list_rmf_controls_v5\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
